[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/home/admin/Downloads/archive/train.sh
Name=Train
Icon=/home/admin/chatbotcontroller.ico
Categories=Utility;
